<<<<<<< HEAD
<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
=======
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>Find me in app/views/users/new.html.erb</p>
>>>>>>> 3f9a82dbfbf0c949437c3d07333b19d868d3f748
